[Unit]
Description=Prometheus
Wants=network-online.target
After=network-online.target

[Service]
User=root
Group=root
Type=simple
ExecStart={{ prometheus_binary_location }}/{{ prometheus_binary_name }}  --config.file {{ prometheus_configurtion_directory }}/prometheus.yml


[Install]
WantedBy=multi-user.target
